.game-stats {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.grid-container {
    display: flex;
}

.grid {
    background: #ccc;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 200px;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background: blue;
}

.mini-grid {
    background: #ccc;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    margin-left: 50px;
    width: 80px;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}